body {
    background-color: #f6e0f7c9;
    color: white;
}

.profile-card {
    background: #f72653;
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 3px solid #37dd69
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgb(43, 255, 0) !important;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 2px solid #00adb5;
    background: #333;
    color: white;
}

button {
    background-color: #98f785;
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
}

button:hover {
    background-color: #5a27e6;
}
